
.index {
  .cube-slide img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
  }
  .main {
    padding: 20px 20px;
    ul {
      text-align: center;
      margin: 0 auto;
      border: 1px solid #f3e5e5;
      padding: 1rem;
      border-radius: 6px;
      li {
        padding-bottom:1rem;
      }
      .title {
        font-size: 1.5rem;
        padding-bottom:1rem;
      }
      h4 {
        font-size: 1.25rem;
        padding-top: 0.5rem;
      }
      p {
        font-size: 0.875rem;
        color: #999;
      }
      .red {
        font-size: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 8rem);
      }
    }
    .btn-box {
      display: inline-block;
      vertical-align: middle;
      button {
        padding: 0.625rem 0.875rem;
        border-radius: 20px;
      }
    }
  }
  .intro {
    padding: 20px 20px;
    border-top: 1px solid #eee;
    .title {
      font-size: 1.5rem;
    }
  }

}
